<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Угадывай - BookCourt</title>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/css/curcle.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/img/favicon.ico') }}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>  
    <script src="/static/js/jquery.ui.autocomplete.scroll.min.js"></script>
</head>

<body>
    <div class="head_str">
        <a id="bookcourt" href="/">BookCourt</a>
        <div class="GamesInHead">
            <a href="/hotcold" class="games">Угадай книгу</a>
            <a href="/math" class="games">A + B - C = D</a>
            <a href="/history" class="games">Книга по истории</a>
        </div>
    </div>
    <hr size="1" style="background-color: black;">
    <div class="HotColdDiv">
        <div class="Stabilizator">
            <a id="game_for_me">Угадай книгу</a>
        </div>
        <div class="HoldColdsDiv">
            <div class="Stabilizator">
                <input type="text" placeholder="Введите слово" id="tags" class="InputBooks"></input>
            </div>
        </div>
        <div class="Stabilizator">
            <input type="submit" id="sendBtn" class="HistoryButton" value="Отправить"></input>
        </div>
        <div id="game", class="wrapper">
            <div></div>
        </div>
    </div>
    <script src="/static/js/hotcold.js"></script>
</body>
</html>