<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Главная - BookCourt</title>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/img/favicon.ico') }}" rel="icon" type="image/x-icon">
</head>

<body>
    <div class="head_str">
        <a class="games" id="bookcourt" href="/">BookCourt</a>
        <div>
            <a href="/hotcold" class="games">Угадай книгу</a>
            <a href="/math" class="games">A + B - C = D</a>
            <a href="/history" class="games">Книга по истории</a>
        </div>
    </div>
    <hr size="1" style="background-color: black;">
    <form class="GameForMe">
        <a id="game_for_me">Играй с нами!</a>
    </form>
    <form class="gameWord">
        <button class="gameCanvas" onclick="location.href='/hotcold'" type="button">
            <p align="center">Угадай книгу</a>
            <p align="center">Игра по принципу "горячо - холодно". Загадывается книга. Вам нужно ее отгадать. Для этого он вводит название книги. Эта книга получает номер рейтинга. Чем меньше номер, тем ближе книга к ответу. </p>
            <p class="StartGame">Играть!</p>
            <br>
            </div>
            <button class="gameCanvas" onclick="location.href='/math'" type="button">
                <p align="center">A + B - C = D</p>
                <p align="center">Бывает так, что хочется прочесть любимую книгу, но в другом жанре или от другого автора. Выберите книгу и с помощью простой арифметики удалите или добавте жанр/автора. Кроме этого, вы можете вычитать и прибавлять слова к книге. В результате вы получаете список книг, соответствующих запросу.</p>
                <p class="StartGame">Играть!</p>
                <br>
            </button>
            <button class="gameCanvas" onclick="location.href='/history'" type="button">
                <p align="center">Книга по истории</p>
                <p align="center">Придумайте историю, напишите ее в игре и посмотрите, какие существуют похожие на нее книги.</p>
                <p align="center" class="StartGame">Играть!</p>
                <br>
            </button>
    </form>
</body>

</html>