<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BookCourt</title>
        <link href="styles.css" rel="stylesheet"/>
    </head>
    <body>
        <form class="head_str"> 
            <a id="bookcourt">BookCourt</a>
            <div>
                <a href="" class="games">Угадай книгу</a>
                <a href="mathematics.html" class="games">A + B - C = D</a>
                <a href="" class="games">Книга по истории</a>
            </div>
            <div>
                <a href="/login" class="identification">Вход</a>
            </div>
        </form>
        <hr size="1" style="background-color: black;">
        <form class="GameForMe">
            <a id="game_for_me">Играй с нами!</a>
        </form>
        <form class="gameWord">
            <div class="gameCanvas">
                <p>Угадай книгу</p>
            </div>
            <div class="gameCanvas">
                <p>A + B - C = D</p>
            </div>
            <div class="gameCanvas">
                <p>Книга по истории</p>
            </div>
        </form>
    </body>
</html>