<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BookCourt</title>
        <link href="styles.css" rel="stylesheet"/>
    </head>
    <body>
        <form class="head_str"> 
            <a id="bookcourt">BookCourt</a>
            <div>
                <a href="" class="games">Угадай книгу</a>
                <a href="mathematics.html" class="games">A + B - C = D</a>
                <a href="" class="games">Книга по истории</a>
            </div>
            <div>
                <a href="/login" class="identification">Вход</a>
            </div>
        </form>
        <hr size="2" style="background-color: black;">
        <div class="InputsDiv">
            <form class="GameForMe">
                <a id="game_for_me">Вход</a>
            </form>
            <form class="Inputs">
                <input type="text" class="InputWords" placeholder="Электронная почта">
            </form>
            <form class="Inputs">
                <input type="password" class="InputWords" placeholder="Пароль">
            </form>
            <form class="Inputs">
                <a href="index.html" id="TrueReg">Войти</a>
            </form>
            <form class="Stabilizator">
                <a id="WhileNotReg">Ещё не зарегистрированны?&#160;</a><a href="/register" id="registration">Регистрация</a>
            </form>
        </div>
    </body>
</html>