<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>BookCourt</title>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <div class="head_str">
        <a id="bookcourt" href="/">BookCourt</a>
        <div>
            <a href="/hotcold" class="games">Угадай книгу</a>
            <a href="/math" class="games">A + B - C = D</a>
            <a href="/history" class="games">Книга по истории</a>
        </div>
    </div>
    <hr size="2" style="background-color: black;">
    <div class="InputsDiv">
        <div class="GameForMe">
            <a id="game_for_me">Регистрация</a>
        </div>
        <div class="Inputs">
            <input type="text" class="InputWords" id="email" placeholder="Электронная почта">
        </div>
        <div class="Inputs">
            <input type="password" class="InputWords" id="password" placeholder="Пароль">
        </div>
        <div class="Inputs">
            <input type="password" class="InputWords" placeholder="Повторите пароль">
        </div>
        <div class="Inputs">
            <input type="submit" id="TrueReg">Зарегистрироваться</a>
        </div>
    </div>
</body>
<script src="{{ url_for('static', path='/js/register.js') }}"></script>

</html>